<h3>{{ _t('SHOP_MANAGEMENT_TITLE') }}</h3>

{{ messages|raw }}

<form method="post" action="{{ url({handler:'gestionshop'}) }}">

  {# serviceName #}
  
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        {{ _t('SHOP_SERVICENAME') }}&nbsp;
      </span>
    </div>
    <select id="serviceName" name="serviceName">
      <option value="mangopay"{{ serviceName == 'mangopay' ? ' selected' : ''}}>MangoPay</option>
      {# for future usage #}
      {# <option value="mollie"{{ serviceName == 'mollie' ? ' selected' : ''}}>Mollie</option> #}
      {# <option value="stripes"{{ serviceName == 'stripes' ? ' selected' : ''}}>Stripes</option> #}
    </select>
  </div>
  
  {# MangoPayParams #}
  <label>{{ _t('SHOP_MANGOPAY_PARAMS') }}</label>

  {% for name,translation in mangoPayParamsNames %}
  
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          {{ _t(translation) }}&nbsp;
        </span>
      </div>
      <input type="text" id="mangoPayParams-{{ name }}" name="mangoPayParams[{{ name }}]" value="{{ mangoPayParams[name] }}">
    </div>
  {% endfor %}

  <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
      {# validate button #}
      <button type="submit" name="valider" class="btn btn-primary btn-xs">
        {{ _t('BAZ_VALIDER') }}
      </button>
      {# cancel button #}
      <a 
          href="{{ url({tag:''}) }}" 
          title="{{ _t('GO_BACK') }}" 
          class="btn btn-info btn-xs"
          data-toggle="tooltip"
          data-placement="bottom">
        {{ _t('GO_BACK') }}
      </a>
    </div>
  </div>
</form>